:root {
  //colors
  --color-primary: #27ae60;
  --color-secondary: #eb5757;

  --gray-0: #f5f5f5;
  --gray-1: #e0e0e0;
  --gray-2: #828282;
  --gray-3: #333333;

  //fonts
  --global-font: "Inter", sans-serif;
}

#root,
body,
main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  main {
    width: 950px;
  }
}
